<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="css/main.css">
</head>

<body>
	<script src="js/vendor/vue.js"></script>

	<div id="app">
		
		<form>
			<input type="text" v-model="addItemInputText">
			<button @click="addItemToList">Add</button>
		</form>

		<ol>
			<todo-item v-for="item in todoList" v-bind:todo="item" v-bind:key="item.id">
			</todo-item>
		</ol>

	</div>

	<script src="js/main.js"></script>
</body>

</html>